In [2]:

import requests as r
import pandas as pd

from datetime import date, datetime, timedelta
from io import StringIO

## Build the URL

In [27]:
#assign variables to the pertinent parts of the URL
base = "https://ndawn.ndsu.nodak.edu/"

format1 = 'get-table.csv'
format2 = "table.csv"

station = "?station=78&station=111&station=98&station=142&station=138&station=9&station=10&station=118&station=56&station=11&station=12&station=58&station=13&station=84&station=55&station=7&station=87&station=14&station=15&station=96&station=16&station=137&station=124&station=17&station=85&station=140&station=134&station=18&station=136&station=65&station=104&station=99&station=19&station=129&station=20&station=101&station=81&station=21&station=97&station=22&station=75&station=2&station=139&station=23&station=62&station=86&station=24&station=89&station=126&station=93&station=90&station=25&station=83&station=107&station=77&station=26&station=70&station=127&station=27&station=132&station=28&station=29&station=30&station=31&station=102&station=32&station=119&station=4&station=80&station=33&station=59&station=105&station=82&station=34&station=72&station=135&station=35&station=76&station=120&station=141&station=109&station=36&station=79&station=71&station=37&station=38&station=39&station=130&station=73&station=40&station=41&station=54&station=69&station=113&station=128&station=42&station=43&station=103&station=116&station=88&station=114&station=3&station=64&station=115&station=67&station=44&station=133&station=106&station=100&station=121&station=45&station=46&station=61&station=66&station=74&station=60&station=125&station=8&station=47&station=122&station=108&station=5&station=48&station=68&station=49&station=50&station=91&station=117&station=63&station=51&station=6&station=52&station=92&station=112&station=131&station=123&station=95&station=53&station=57&station=110&variable=ddavt&year=2021&ttype=daily&"

endDate = date.today().isoformat()
beginDate = (date.today()-timedelta(days=30)).isoformat()

date_var = "&quick_pick=&begin_date="

In [28]:
#put it all together
download = str(base + format2 + station + date_var + beginDate + "&end_date=" + endDate)

print(download)

https://ndawn.ndsu.nodak.edu/table.csv?station=78&station=111&station=98&station=142&station=138&station=9&station=10&station=118&station=56&station=11&station=12&station=58&station=13&station=84&station=55&station=7&station=87&station=14&station=15&station=96&station=16&station=137&station=124&station=17&station=85&station=140&station=134&station=18&station=136&station=65&station=104&station=99&station=19&station=129&station=20&station=101&station=81&station=21&station=97&station=22&station=75&station=2&station=139&station=23&station=62&station=86&station=24&station=89&station=126&station=93&station=90&station=25&station=83&station=107&station=77&station=26&station=70&station=127&station=27&station=132&station=28&station=29&station=30&station=31&station=102&station=32&station=119&station=4&station=80&station=33&station=59&station=105&station=82&station=34&station=72&station=135&station=35&station=76&station=120&station=141&station=109&station=36&station=79&station=71&station=37&station=38&station=39&station=130&station=73&station=40&station=41&station=54&station=69&station=113&station=128&station=42&station=43&station=103&station=116&station=88&station=114&station=3&station=64&station=115&station=67&station=44&station=133&station=106&station=100&station=121&station=45&station=46&station=61&station=66&station=74&station=60&station=125&station=8&station=47&station=122&station=108&station=5&station=48&station=68&station=49&station=50&station=91&station=117&station=63&station=51&station=6&station=52&station=92&station=112&station=131&station=123&station=95&station=53&station=57&station=110&variable=ddavt&year=2021&ttype=daily&&quick_pick=&begin_date=2021-03-19&end_date=2021-04-18

In [30]:
#make sure the URL works
r.get(download)

ndawndata = r.get(download)

## Open the CSV with Pandas

In [31]:
open("table.csv","wb").write(ndawndata.content)

202761

In [45]:
pd.read_csv('table.csv')

     Station Name   Latitude   Longitude  ...   Day   Avg Temp  Avg Temp Flag
0             NaN        deg         deg  ...   NaN  Degrees F            NaN
1             Ada    47.3211    -96.5139  ...  19.0     40.395            NaN
2             Ada    47.3211    -96.5139  ...  20.0     50.546            NaN
3             Ada    47.3211    -96.5139  ...  21.0     42.461            NaN
4             Ada    47.3211    -96.5139  ...  22.0     35.165            NaN
...           ...        ...         ...  ...   ...        ...            ...
3926      Zeeland  46.013378  -99.687587  ...  13.0     24.417            NaN
3927      Zeeland  46.013378  -99.687587  ...  14.0     31.173            NaN
3928      Zeeland  46.013378  -99.687587  ...  15.0     37.556            NaN
3929      Zeeland  46.013378  -99.687587  ...  16.0     36.441            NaN
3930      Zeeland  46.013378  -99.687587  ...  17.0     37.587            NaN

[3931 rows x 9 columns]

## Find the average temps and georeference the station points

In [ ]:
with arcpy.EnvManager(scratchWorkspace=r"C:\Users\celia\Documents\ArcGIS\Projects\GIS5572_Lab4\GIS5572_Lab4.gdb", workspace=r"C:\Users\celia\Documents\ArcGIS\Projects\GIS5572_Lab4\GIS5572_Lab4.gdb"):
    arcpy.conversion.TableToTable(r"C:\Users\celia\Documents\GitHub\GIS5572\Lab4\data\table.csv", r"C:\Users\celia\Documents\ArcGIS\Projects\GIS5572_Lab4\GIS5572_Lab4.gdb", "OG_table", '', r'Station_Name "Station Name" true true false 8000 Text 0 0,First,#,C:\Users\celia\Documents\GitHub\GIS5572\Lab4\data\table.csv,Station Name,0,8000;Latitude "Latitude" true true false 8000 Double 0 0,First,#,C:\Users\celia\Documents\GitHub\GIS5572\Lab4\data\table.csv,Latitude,0,8000;Longitude "Longitude" true true false 8000 Double 0 0,First,#,C:\Users\celia\Documents\GitHub\GIS5572\Lab4\data\table.csv,Longitude,0,8000;Elevation "Elevation" true true false 8000 Double 0 0,First,#,C:\Users\celia\Documents\GitHub\GIS5572\Lab4\data\table.csv,Elevation,0,8000;Year "Year" true true false 4 Text 0 0,First,#,C:\Users\celia\Documents\GitHub\GIS5572\Lab4\data\table.csv,Year,-1,-1;Month "Month" true true false 4 Text 0 0,First,#,C:\Users\celia\Documents\GitHub\GIS5572\Lab4\data\table.csv,Month,-1,-1;Day "Day" true true false 4 Text 0 0,First,#,C:\Users\celia\Documents\GitHub\GIS5572\Lab4\data\table.csv,Day,-1,-1;Avg_Temp "Avg Temp" true true false 8000 Double 0 0,First,#,C:\Users\celia\Documents\GitHub\GIS5572\Lab4\data\table.csv,Avg Temp,0,8000;Avg_Temp_Flag "Avg Temp Flag" true true false 8000 Text 0 0,First,#,C:\Users\celia\Documents\GitHub\GIS5572\Lab4\data\table.csv,Avg Temp Flag,0,8000', '')

In [ ]:
#calculate the mean temperature for each station
arcpy.analysis.Statistics("stations", r"C:\Users\celia\Documents\ArcGIS\Projects\GIS5572_Lab4\GIS5572_Lab4.gdb\stations_Statistics3", "Avg_Temp MEAN", "Station_Name;Latitude;Longitude")

In [ ]:
#use the statistics table, which is grouped by station, to map the points

arcpy.management.XYTableToPoint("stations_Statistics3", r"C:\Users\celia\Documents\ArcGIS\Projects\GIS5572_Lab4\GIS5572_Lab4.gdb\stations_Statistics3_XYTableToPoint", "Longitude", "Latitude", None, "GEOGCS['GCS_WGS_1984',DATUM['D_WGS_1984',SPHEROID['WGS_1984',6378137.0,298.257223563]],PRIMEM['Greenwich',0.0],UNIT['Degree',0.0174532925199433]];-400 -400 1000000000;-100000 10000;-100000 10000;8.98315284119521E-09;0.001;0.001;IsHighPrecision")

## Compare and Contrast Interpolation Processes

In [ ]:
#kriging
arcpy.ddd.Kriging("stations_Statistics3_XYTableToPoint", "MEAN_Avg_Temp", r"C:\Users\celia\Documents\ArcGIS\Projects\GIS5572_Lab4\GIS5572_Lab4.gdb\Kriging_stat2", "Spherical 0.014478 # # #", 0.014477764, "VARIABLE 12", None)

In [ ]:
#IDW
arcpy.ddd.Idw("stations_Statistics3_XYTableToPoint", "MEAN_Avg_Temp", r"C:\Users\celia\Documents\ArcGIS\Projects\GIS5572_Lab4\GIS5572_Lab4.gdb\Idw_stations1", 0.014477764, 2, "VARIABLE 12", None)

In [ ]:
#Global Polynomial Interpolation with elevation
arcpy.ga.GlobalPolynomialInterpolation("stations_Statistics3_XYTableToPoint", "MEAN_Avg_Temp", None, r"C:\Users\celia\Documents\ArcGIS\Projects\GIS5572_Lab4\GIS5572_Lab4.gdb\GPI_1", 0.014477764, 1, "Elevation")